/**
 * My Modal CSS
 * @author Wallace Goulart Gaudie Ley
 * @version 1.0.0
 * @description My Modal CSS styles
 */
.my-modal-overlay {
    background: url(noise.png) gray;;
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 980;
    opacity: 0.9;
}
.my-modal-hide {
    display: none;
    opacity: 0;
    visibility: hidden;
}
.my-modal {
    font-family: Arial;
    font-size: 24px;
    position: fixed;
    top: 50%;
    left: 50%;
    max-height: calc(100% - 100px);
    transform: translate(-50%, -50%);
    border: 2px solid black;
    border-radius: 3px;
    min-width: 484px;
    min-height: 290px;
    z-index: 990;
    background-color: #f9f9f9;
    text-align: center;
    overflow-y: auto;
}
.my-modal-title {
    min-height: 40px;
    margin: 0 5% 0 5%;
    margin-top: 32px;
}
.my-modal-title h4 {
    margin: 0;
}
.my-modal-description {
    margin: 22px;
    min-height: 77px;
}
.my-modal-input {
    height: 40px;
    width: 80%;
    margin-bottom: 5%;
    font-size: 24px;
}
.my-modal-buttons-area {
    background-color: #ececec;
    border-top: 2px solid #dfdfdf;
    border-left: 0;
    border-right: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    min-height: 97px;
    padding: 5%;
}
.my-modal-button {
    font-size: 24px;
    height: 40px;
    width: 160px;
    border-top: 2px solid #a5a5a5;
    border-left: 2px solid #999999;
    border-right: 2px solid #999999;
    border-bottom: 2px solid #7f7f7f;
    border-radius: 3px;
    background: -webkit-linear-gradient(top, #fefefe, #e5e5e5);
    background: -moz-linear-gradient(top, #fefefe, #e5e5e5);
    background: -o-linear-gradient(top, #fefefe, #e5e5e5);
    background: -ms-linear-gradient(top, #fefefe, #e5e5e5);
    background: linear-gradient(bottom, #fefefe, #e5e5e5);
}
.my-modal-button:first-child{
    margin-right: 16px;
}
.my-modal-button:hover, .my-modal-button:focus {
    outline: none;
    border-top: 2px solid #a5a5a5;
    border-left: 2px solid #999999;
    border-right: 2px solid #999999;
    border-bottom: 2px solid #7f7f7f;
    background: -webkit-linear-gradient(top, #fefefe, #c9c9c9);
    background: -moz-linear-gradient(top, #fefefe, #c9c9c9);
    background: -o-linear-gradient(top, #fefefe, #c9c9c9);
    background: -ms-linear-gradient(top, #fefefe, #c9c9c9);
    background: linear-gradient(bottom, #fefefe, #c9c9c9);
}
